


<div class="container">
    <div class="cards">

    <h3>*ngIf</h3>
    <hr>

    <div *ngIf="mostrar" class="card">
        <h5>{{frase.titulo}}</h5>
        <p>{{frase.autor}}</p>
    </div>
    <button (click)="mostrar = !mostrar">Mostrar/Ocultar</button>
    <!-- el boton click cada vez que se le de click va a negar el estado, en que se encuentre -->

    </div>

    <div class="list">
        <h3>*ngFor</h3>
        <hr>

        <ul>
            <li *ngFor="let personaje of personajes; let i = index">
                {{i+1}} {{personaje}}<li>
         </ul>
    </div>


</div>