


<div class="container">
    <div class="cards">

    <h3>*ngIf</h3>
    <hr>

    <div class="card">
        <h5>titulo</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur maiores est accusamus</p>
    </div>
    <button>Mostrar/Ocultar</button>

    </div>

    <div class="list">
        <h3>*ngFor</h3>
        <hr>

        <ul>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit<li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit<li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit<li>

        </ul>
    </div>


</div>