body{
    padding: 0;
    margin: 0;
    background-color: #f6f4f4;
}


footer{
    position: fixed;
    color: white;
    text-align: center;
    background-color: gray;
    bottom: 0px; 
    /* para que lo tire al final del contenedor */
    width: 100%;
    height: 40px;
}